<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Okala</title>
    <style>
        .products_container {
            display: flex;
            flex-wrap: wrap;
            align-content: space-between;
        }

        .product {
            margin: 5px;
        }

        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 300px;
            margin: auto;
            text-align: center;
            font-family: arial;
        }

        .price {
            color: grey;
            font-size: 22px;
        }

        .card button {
            border: none;
            outline: 0;
            padding: 12px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 18px;
        }

        .card button:hover {
            opacity: 0.7;
        }
    </style>
</head>
<body>
<div class="products_container">
    {% for product in products %}
        <div class="product">
            <div class="card">
                <img src="{{ product.product_image_url__thumb_image }}" alt="Error" style="width:100%">
                <h1>{{ product.name }}</h1>
                <p class="price">{{ product.ok_price }}</p>
                <p>{{ product.store_name }}</p>
                <p>{{ product.caption }}</p>
                <p>
                    <button>Add to Cart</button>
                </p>
            </div>
        </div>
    {% endfor %}
</div>
</body>
</html>